@charset "UTF-8";

//load materialize source
@import "materialize-src/sass/materialize.scss";

//import custom components
@import "components/form";

.icon-block {
  padding: 0 15px;
}

.messages {
	&.status {
		@extend .green, .lighten-1;
	}
} 

#footer {
	@extend .orange, .darken-2;
	.row {
		margin-bottom: 0px;
	}
}