  
  input[type=text].error,
  input[type=password].error,
  input[type=email].error,
  input[type=url].error,
  input[type=date].error,
  input[type=tel].error,
  input[type=number].error,
  input[type=search].error,
  textarea.materialize-textarea.error {
  	border-top: none;
  	border-left: none;
  	border-right: none;
    border-bottom: 1px solid $input-error-color;
    @include box-shadow(0 1px 0 0 $input-error-color);
  }